/* Provide sufficient contrast against white background */
@import 'bootstrap';
@import '~bootswatch/dist/darkly/variables';
@import '~bootstrap/scss/bootstrap';
@import '~bootswatch/dist/darkly/bootswatch';
:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

header {
  padding: 1%;
  margin: 0;
  background-color: $secondary;
}

header ul {
  display: flex;
  justify-content: space-around;
  padding-left: 0;
  padding-top: 1rem;
}

header li a {
  text-decoration: none;
}
.title-div {
  margin-top: 5rem;
  text-align: center;
}

.h1 {
  font-size: 2rem;
  padding: 1rem;
  padding-top: 0.8rem;
}
h3 {
  text-align: center;
}

.login form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
  label {
    padding: 1rem;
  }
}
.btn-success {
  margin: 1rem;
}

.table-responsive {
  margin-top: 2rem;
  padding-right: 2rem;
  padding-left: 2rem;

  .user-home {
    height: 62vh;
    text-align: center;
    margin-bottom: 0;
    border-top: solid 3px rgb(53, 53, 53);
    border-left: solid 3px rgb(53, 53, 53);
    border-right: solid 3px rgb(53, 53, 53);
    border-bottom: solid 3px rgb(53, 53, 53);
    box-shadow: 3px 3px rgb(53, 53, 53);
    td {
      vertical-align: middle;
      a {
        font-size: 1rem;
      }
    }
  }
}

.log-out {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}

h4 {
  text-align: center;
}

.loads-main {
  border-radius: 6px;
  border: 1px solid $secondary;
  margin: 2rem 0.5rem 1rem 0.5rem;
  overflow: hidden;
}

@media (min-width: 768px) {
  .navbar-expand-md .navbar-collapse {
    justify-content: flex-end;
  }
  .table-responsive {
    margin-top: 2rem;
    padding-left: 3rem;
    padding-right: 3rem;
    .user-home {
      height: 65vh;
      text-align: center;
      td {
        vertical-align: middle;
        a {
          font-size: 1.45rem;
        }
      }
    }
  }

  .table {
    font-size: 1.6rem;
    height: 60vh;
    tbody th {
      vertical-align: middle;
    }
    tbody td {
      vertical-align: middle;
    }
  }
}
@media (min-width: 1024px) {
  .title-div {
    margin-top: 3rem;
    margin-bottom: 2rem;
    padding-bottom: 1rem;
    h1 {
      font-size: 4rem;
      padding: 3rem;
    }
    h3 {
      font-size: 2.5rem;
    }
  }
  .table-responsive {
    margin-top: 3rem;
    padding-left: 3rem;
    padding-right: 3rem;
    .user-home {
      height: 64vh;
      text-align: center;
      td {
        vertical-align: middle;
        a {
          font-size: 2rem;
        }
      }
    }
  }

  .table {
    font-size: 2rem;
  }
  .container {
    padding: 3rem;
    margin: 3rem;
    font-size: 3rem;
    .btn-success {
      font-size: 3rem;
    }
    .col-md-2 {
      display: flex;
      justify-content: flex-end;
    }
  }
  .log-out {
    padding-top: 2.4rem;
    button {
      font-size: 2rem;
      padding: 1rem;
    }
  }
}
