/* Provide sufficient contrast against white background */
@import 'bootstrap';
:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  background-color: #191d32;
  color: #edebd7;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

header {
  background-color: #17255a;
  padding: 1%;
  margin: 0;
}

header ul {
  display: flex;
  justify-content: space-around;
  padding-left: 0;
  padding-top: 1rem;
}

header li a {
  text-decoration: none;
  color: #edebd7;
}

h1 {
  text-align: center;
  padding: 1rem;
}

.login form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
}

.login form label {
  padding: 1rem;
}

button {
  margin: 1rem;
  background-color: #a39594;
  border-radius: 15%;
  font-size: smaller;
}
.user-home {
  margin-top: 2rem;
  height: 65vh;
}
.user-home td a {
  color: #edebd7;
}
.log-out {
  display: flex;
  justify-content: center;
}

h4 {
  text-align: center;
}

.loads-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.load-list {
  padding-left: 0;
}

.load-list li {
  padding: 0.1rem;
  border-top: solid 1px #a39594;
  border-bottom: solid 1px #a39594;
}

.load-list span {
  padding: 0.1rem;
  border-right: solid 1px #a39594;
  border-left: solid 1px #a39594;
}

.load-list a {
  color: #e1d89f;
}
