@import '../../bootstrap-customize.scss';

.load-info {
  .container {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
    width: 90%;
  }
  section {
    margin-bottom: 1rem;
  }
}
