@import '../../bootstrap-customize.scss';
.load-title-div {
  text-align: center;
  margin-top: 3.9rem;
  margin-bottom: 0rem;
}
.load-info {
  margin-bottom: 6rem;
  .container {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
    width: 90%;
    .registration-button {
      display: flex;
      justify-content: space-evenly;
    }
  }
  section {
    margin-bottom: 1rem;
  }
}
.load-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-bottom: 0;
  padding-bottom: 0;
  .nav-footer {
    padding-bottom: 0%;
    margin-bottom: 0;
    ul {
      width: 100%;
      padding-left: 1rem;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-bottom: 0;
      section {
        width: 100%;
      }
      li {
        margin-right: 4%;
        padding-right: 0;
      }
    }
  }
}
@media (min-width: 600px) {
  .load-footer {
    .nav-footer {
      ul {
        section {
          width: 60%;
          margin-right: 0;
        }
        li {
          margin-right: 4%;
        }
      }
    }
  }
}
@media (min-width: 768px) {
  .load-info {
    .row {
      .container {
        .load-info-row {
          section {
            text-align: left;
          }
        }
      }
    }
  }
  .load-info {
    .row {
      .col {
        .container {
          text-align: left;
          .form-group {
            width: 100%;
            label {
              width: 100%;
            }
          }
        }
      }
    }
  }
}
@media (min-width: 992px) {
  .load-info {
    section {
      .button-bottom {
        margin-top: 18%;
        margin-bottom: 0;
      }
    }
  }
}
@media (min-width: 1200px) {
  .load-info {
    margin-top: 1rem;
    section {
      .button-bottom {
        margin-top: 8%;
        margin-bottom: 0;
      }
    }
  }
  .load-update-buttons {
    padding-top: 5%;
  }
}
