@import '../../bootstrap-customize.scss';

.load-info {
  .container {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
    width: 90%;
  }
  section {
    margin-bottom: 1rem;
  }
}
@media (min-width: 768px) {
  .load-info {
    text-align: left;
    .row {
      .col {
        .container {
          text-align: left;
          .form-group {
            width: 100%;
            label {
              width: 100%;
            }
          }
        }
      }
    }
  }
}
