@import '../../bootstrap-customize.scss';
.new-load {
  margin-top: 5rem;
  margin-bottom: 7rem;
  .new-load-container {
    width: 95%;
  }
}
@media (min-width: 768px) {
  .new-load {
    .new-load-container {
      .btn-success {
        margin-top: 36%;
      }
    }
  }
}
@media (min-width: 992px) {
  .new-load {
    .new-load-container {
      .btn-success {
        margin-top: 24%;
      }
    }
  }
}
@media (min-width: 1200px) {
  .new-load {
    .new-load-container {
      .btn-success {
        margin-top: 20%;
      }
    }
  }
}
