@import '../../bootstrap-customize.scss';
body {
  background-position: center;
}
.title-div-registration {
  margin-top: 1rem;
  margin-bottom: 0rem;
  text-align: center;
}
.registration {
  padding: 1rem;
  margin-top: 0rem;

  .form-group {
    margin-bottom: 0rem;
  }
  .registration-button {
    margin: 0.2rem 1rem;
  }
}
@media (min-width: 400px) {
  .title-div-registration {
    margin-top: 1rem !important;
  }
}
@media (min-width: 768px) {
  .registration {
    form {
      border: 2px solid $secondary;
      background-color: $light;
      opacity: 0.8;
      border-radius: 10px;
      padding: 2rem;
      font-size: 1.45rem;
      .form-group- {
        label {
          width: 35%;
        }
      }
      .registration-button {
        display: flex;
        justify-content: center;
        .btn-success {
          font-size: 1.45rem;
        }
      }
    }
  }
}
@media (min-width: 1024px) {
  .registration {
    form {
      font-size: 3rem;
      .registration-button {
        padding-top: 1rem;
        .btn-success {
          font-size: 3rem;
        }
      }
    }
  }
}
@media (min-width: 1200px) {
  .title-div-registration {
    margin-top: 0rem !important;
    margin-bottom: 0 !important;
  }
  .registration {
    width: 80%;
    margin: 0% 10%;
  }
}
