@import '../../bootstrap-customize.scss';
// body {
//   background-position: 2rem;
// }
.title-div {
  margin-top: 0rem !important;
  margin-bottom: 0rem;
}
.registration {
  padding: 1rem;
  // height: 65vh;
  margin-top: 0rem;

  .form-group {
    margin-bottom: 0rem;
  }
  .registration-button {
    margin: 0.2rem 1rem;
  }
}
@media (min-width: 400px) {
  .title-div {
    margin-top: 1rem !important;
  }
}
@media (min-width: 768px) {
  .registration {
    form {
      border: 2px solid $secondary;
      border-radius: 10px;
      padding: 2rem;

      font-size: 1.45rem;
      .registration-button {
        display: flex;
        justify-content: center;
        .btn-success {
          font-size: 1.45rem;
        }
      }
    }
  }
}
@media (min-width: 1024px) {
  .registration {
    form {
      font-size: 3rem;
      .registration-button {
        padding-top: 1rem;
        .btn-success {
          font-size: 3rem;
        }
      }
    }
  }
}
