@import 'bootstrap';
@import '~bootswatch/dist/darkly/variables';
@import '~bootstrap/scss/bootstrap';
@import '~bootswatch/dist/darkly/bootswatch';
@media (min-width: 768px) {
  .container {
    form {
      .registration-button {
        display: flex;
        justify-content: center;
        .btn-success {
          font-size: 2rem;
        }
      }
    }
  }
}
@media (min-width: 1024) {
  .container {
    form {
      .registration-button {
        .btn-success {
          font-size: 3rem;
        }
      }
    }
  }
}
