@import '../../bootstrap-customize.scss';
body {
  height: 100%;
  background-repeat: repeat-y;
}
.title-div {
  margin-top: 5rem;
}
.container {
  .border-primary {
    border: hidden;
    box-shadow: 2px 1px #375a7f;
  }
  .row {
    opacity: 0.8;
  }
}
.card-text {
  a {
    color: white;
  }
}
@media (min-width: 768px) {
  .container {
    background-color: $light;
    opacity: 0.9;
    .border-primary {
      box-shadow: 3px 2px #375a7f;
    }
    .card-body {
      padding: 2rem;
    }
  }
}
@media (min-width: 1024px) {
  .container {
    .border-primary {
      box-shadow: 6px 4px #375a7f;
    }
    .card-body {
      padding: 4rem;
      .card-text a {
        font-size: 2.4rem;
      }
    }
  }
}
@media (min-width: 1200px) {
  .title-div {
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .container {
    max-width: 90% !important;
    #search-card {
      .card {
        .card-body {
          padding: 5rem !important;
        }
      }
    }
    .card {
      margin: 1rem;
      .card-body {
        padding: 25%;
        .card-text a {
          font-size: 2rem;
        }
      }
    }
  }
}
