@import '../../bootstrap-customize.scss';
body {
  height: 100%;
  background-repeat: repeat-y;
}

.container {
  margin-top: 4rem;
  text-align: center;
  margin-bottom: 5rem;
  .border-primary {
    border: hidden;
    box-shadow: 2px 1px #375a7f;
  }
  .row {
    opacity: 0.8;
  }
}
.card-text {
  a {
    color: white;
  }
}
@media (min-width: 768px) {
  div.container {
    margin-top: 7rem;
    background-color: $light;
    opacity: 0.9;
  }
}
@media (min-width: 1024px) {
  div.container {
    margin-top: 10rem;
  }
}
@media (min-width: 1200px) {
  div.container {
    margin-top: 10rem;

    #search-card {
      padding: 1%;
    }
    .card {
      padding: 5%;
    }
  }
}
