@import '../../bootstrap-customize.scss';

.container {
  .border-primary {
    box-shadow: 2px 1px #375a7f;
  }
}
.card-text {
  a {
    color: white;
  }
}
@media (min-width: 768px) {
  .container {
    // box-shadow: 1px 1px;
    .border-primary {
      box-shadow: 3px 2px #375a7f;
    }
    .card-body {
      padding: 2rem;
    }
  }
}
@media (min-width: 1024px) {
  .container {
    .border-primary {
      box-shadow: 6px 4px #375a7f;
    }
    .card-body {
      padding: 4rem;
      .card-text a {
        font-size: 2.4rem;
      }
    }
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 71% !important;
    .card {
      margin: 1rem;
      .card-body {
        padding: 6rem;
        .card-text a {
          font-size: 2.4rem;
        }
      }
    }
  }
}
